* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  width: 100%;
  max-width: 1110px;
  height: 446px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  margin: 23px;
}

.card-content {
  padding: 72px 110px 55px 72px;
  width: 100%;
  max-width: 570px;
  position: relative;
  word-break: break-word;
}

.card-image {
  background: linear-gradient(
      hsl(277, 64%, 61%, 0.35),
      hsl(277, 64%, 61%, 0.35)
    ),
    url("./images/image-header-desktop.jpg");

  height: 100%;
  width: 100%;
  max-width: 540px;
}

.card-title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

.card-title > span {
  color: hsl(277, 64%, 61%);
}

.card-description {
  margin: 0;
  margin-top: 26px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 24px;
}

.card-numbers {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  max-width: 350px;
  position: absolute;
  width: 100%;
  bottom: 64px;
}

.card-numbers > div > h3 {
  margin: 0;
  font-size: 24px;
}

.card-numbers > div > p {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 4px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 1024px) {
  .card {
    flex-direction: column-reverse;
    min-height: 777px;
    height: unset;
    text-align: center;
    justify-content: flex-end;
  }

  .card-content {
    max-width: unset;
    padding: 40px 30px;
    margin: auto;
  }

  .card-title {
    font-size: 28px;
  }

  .card-description {
    font-size: 15px;
    margin-top: 13px;
  }

  .card-numbers {
    max-width: unset;
    position: unset;
    flex-direction: column;
    margin-top: 28px;
  }

  .card-numbers > div {
    margin: 15px 0;
  }

  .card-image {
    height: 237px;
    max-width: unset;
    background: linear-gradient(
        hsl(277, 64%, 61%, 0.35),
        hsl(277, 64%, 61%, 0.35)
      ),
      url("./images/image-header-mobile.jpg") no-repeat center center / cover;
  }
}
